@model CatalogoProdutos.Models.Produto

@{
    ViewData["Title"] = "NovoProduto";
}

<div class="border border-dark rounded-lg p-5 shadow">
    <h6>Novo Produto</h6>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="NovoProduto" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label col-form-label col-form-label-sm"></label>
                    <input asp-for="Nome" class="form-control form-control-sm" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label col-form-label col-form-label-sm"></label>
                    <input asp-for="Foto" type="file" class="form-control-file form-control-sm" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Preco" class="control-label col-form-label col-form-label-sm"></label>
                    <input asp-for="Preco" class="form-control form-control-sm" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
</div>


